.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #a3b9e4;
  min-height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top:0.25rem;
  padding-bottom:0.25rem;
}

.App-link {
  color: #61dafb;
}

.input-wrap {
  width:100%;
  display:flex;
}

.memes {
  height: calc(100vh - 3.25rem);
  overflow: auto;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.meme {
  margin:0.5rem;
  cursor: pointer;
  position: relative;
}

.meme-title {
  display:none;
  position: absolute;
  width:(100% - 2px);
  bottom:4px;
  left:0;
  right:0;
  background:rgba(255,255,255,0.5);
  font-size:0.7rem;
  font-weight:bold;
  padding: 2px 5px;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.meme:hover .meme-title {
  display:block;
}